body {
    background: #f9f9f9;
}

#volume-slider {
    align-items: center;
    display: flex;
    /*margin: 1px auto; */
    padding: 20px 0;
    width: 300px;
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    #volume-slider {
      padding: 10px 0;
    }
}

.volume-icon {
  cursor: pointer;
  height: 60px;
  transform: rotate(0deg);
  transform-origin: center left;
  width: 60px;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
    background-color: white;
  border: none;
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
  }


.noselect:hover {
  background-color: white;
  border: none;
outline:none;
}

.noselect:active {
  background-color: white;
  border: none;
outline:none;
}

.noselect:focus {
  background-color: white;
  border: none;
outline:none;

}
.volume-icon .volume-icon-bg {
    fill: #cbc8ce;
    transition: fill 300ms;
}

.volume-icon:hover .volume-icon-bg {
    fill: #b6aebf;
}

#circle-mask-shape {
    transform: scale(0);
    transform-origin: center center;
}

.volume-track {
    background-color: #e1dee5;
    border-radius: 3px;
    flex: 1;
    height: 4px;
    margin-left: 5px;
    position: relative;
}

.volume-indicator {
    background-color: #6e33a5;
    border-radius: 50%;
    height: 12px;
    left: 0;
    position: absolute;
    top: -4px;
    transition: visibility 100ms, opacity 100ms;
    width: 12px;
}

.marker-0 {
  padding-top: 12px;
  display: inherit;
  padding-left: 2px;
  font-family: "Press Start 2P";
  font-size: 0.7rem;
}

.marker-100 {
  float: right;
  font-size: 0.6rem;
}

.marker-50 {
  font-size: 0.6rem;
  margin-left: 69px;
}