/* ----------- Desktop ----------- */
.cat {
  background-image: url(../../assets/cat3.png);
  height: 260px;
  background-repeat: no-repeat;
  margin-left: -50px;
}

.request-message {
font-family: 'Patrick Hand SC', cursive;
position: relative;
top: -155px;
left: 184px;
font-weight: 600;
color: #737373;
font-size: 1.4rem;
word-wrap: break-word;


}

.user-volume-message {
  position: relative;
  left: 28px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.4rem;
  top: -80px;
}

.goal-message {
  position: relative;
  left: -70px;
  top: -75px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.4rem;
}

.cat-message {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.4rem;
  font-weight: 600;
  top: -240px;
  position: relative;
  left: -30px;
  word-wrap: break-word;

}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .cat {
      background-image: url(../../assets/cat4.png);
      margin-left: -80px;
    }
    .request-message {
      position: absolute;
      top: 280px;
      left: 162px;
      max-width: 145px;
    }
    .goal-message {
      left: 80px;
    }
    .user-volume-message {
      left: 73px;
    }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
    .cat {
      background-image: url(../../assets/cat5.png);
      margin-left: -50px;
    }
    .request-message {
      position: absolute;
      top: 280px;
      left: 202px;
      max-width: 145px;
    }

}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) { 
    .cat {
      background-image: url(../../assets/cat6.png);
      margin-left: -50px;
    }
    .request-message {
      position: absolute;
      top: 280px;
      left: 202px;
      max-width: 190px;
    }
}