<div class="wrap center">
  <div [ngClass]="didUserWin === true?'cat cat-win':'cat'"></div>
    <p class="request-message">{{requestMessage}}</p>
    <p class="cat-message">{{resultMessage}}</p>
    <p class="goal-message">New goal: {{goalVolume}}</p>
    <p [style.display]="userResult===undefined?'none':'block'" class="user-volume-message">
      Result: <span style="color:#009933;font-weight:600">{{userResult}}</span>.
      When W.B. asked for <span style="color:#8600b3;font-weight:600">{{previousGoalVolume}}.</span>
    </p>
</div>

<p class="result-container wrap scoreboard">Scoreboard</p>
<div class="result-container mat-elevation-z8 wrap">
  <md-table #table class="table" [dataSource]="dataSource" mdSort>

    <!-- Turn Column -->
    <ng-container cdkColumnDef="turn">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Turn </md-header-cell>
      <md-cell *cdkCellDef="let row" class="table-cell"> {{row.turn}} </md-cell>
    </ng-container>

    <!-- Result Column -->
    <ng-container cdkColumnDef="result">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Result </md-header-cell>
      <md-cell *cdkCellDef="let row" class="table-cell"> {{row.result}} </md-cell>
    </ng-container>

    <!-- Off By Column -->
    <ng-container cdkColumnDef="difference">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Off By </md-header-cell>
      <md-cell *cdkCellDef="let row" class="table-cell"> {{row.difference | winner}} </md-cell>
    </ng-container>


    <md-header-row *cdkHeaderRowDef="displayedColumns" class="header-table-row"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;" 
      [ngClass]="row.difference==='0'?'table-row-green':'table-row'"></md-row>
  </md-table>
</div>