/* ----------- Desktop ----------- */
.cat {
  background-image: url(../../assets/cat3.png);
  height: 260px;
  background-repeat: no-repeat;
  margin-left: -50px;
}

.cat-win {
  background-image: url(../../assets/cat3-win.png);
}

.request-message {
  font-family: 'Patrick Hand SC', cursive;
  position: relative;
  top: -175px;
  left: 200px;
  font-weight: 600;
  font-size: 1.3rem;
  word-wrap: break-word;
  text-align: left;
  color: #737373;
}

.user-volume-message {
  position: relative;
  left: 150px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.2rem;
  top: -530px;
  text-align: left;
  color: #737373;
  max-width: 261px;
}

.goal-message {
  position: relative;
  left: 220px;
  top: -255px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.4rem;
  text-align: left;
  color: #8600b3;
  font-weight: 600;
}

.cat-message {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.4rem;
  font-weight: 600;
  top: -310px;
  position: relative;
  left: 195px;
  word-wrap: break-word;
  text-align: left;
  max-width: 210px;
  min-height: 90px;
  color: #737373;
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    .cat {
      background-image: url(../../assets/cat4.png);
      margin-left: -80px;
    }
    .cat-win {
      background-image: url(../../assets/cat4-win.png);
    }

    .cat-message {
      font-family: 'Patrick Hand SC', cursive;
      font-size: 1.2rem;
      top: -270px;
      left: 170px;
      max-width: 130px;
    }
    .request-message {
      position: absolute;
      top: 350px;
      left: 182px;
      max-width: 125px;
      font-size: 1.2rem;
    }
    .goal-message {
      left: 180px;
      top: -200px;
      max-width: 118px;
    }
    .user-volume-message {
      left: 32px;
      top: -475px;
      max-width: 265px;
    }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
    .cat {
      background-image: url(../../assets/cat5.png);
      margin-left: -50px;
    }
    .cat-win {
      background-image: url(../../assets/cat5-win.png);
    }

    .cat-message {
      font-size: 1.2rem;
      top: -270px;
      left: 205px;
      max-width: 130px;
    }
    .request-message {
      position: absolute;
      top: 350px;
      left: 212px;
      max-width: 145px;
    }
    .goal-message {
      left: 225px;
      top: -200px;
      max-width: 140px;
    }
    .user-volume-message {
      max-width: 265px;
      left: 60px;
    }

}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) { 
    .cat {
      background-image: url(../../assets/cat6.png);
      margin-left: -50px;
    }
    .cat-win {
      background-image: url(../../assets/cat6-win.png);
    }

    .cat-message {
      font-size: 1.2rem;
      top: -260px;
      left: 205px;
      max-width: 160px;
    }
    .user-volume-message {
      max-width: 259px;
      left: 95px;
    }
    .request-message {
      position: absolute;
      top: 365px;
      left: 212px;
      max-width: 190px;
    }
}

.result-container {
  display: flex;
  flex-direction: column;
  max-width: 33rem;
  position: relative;
  top: -10rem;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

.header-table-row {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  letter-spacing: -1px;
}

.table-row {
  font-family: 'Patrick Hand SC', cursive;
}

.table-cell {
  font-size: 1.4rem;
}

.table {
  background-color: #F6F5EC;
}