h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  letter-spacing: -5px;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.6rem;
  line-height: 1rem;
  letter-spacing: -1px;
}

.version {
  font-size: 1rem;
  font-family: 'Patrick Hand SC', cursive;
  letter-spacing: 0.1rem;
}