<div class="wrap center">
  <div [ngClass]="didUserWin === true?'cat cat-win':'cat'"></div>
    <p class="request-message">{{requestMessage}}</p>
    <p class="cat-message">{{resultMessage}}</p>
    <p class="goal-message">New goal: {{goalVolume}}</p>
    <p [style.display]="userResult===undefined?'none':'block'" class="user-volume-message">
      Result: <span style="color:#009933;font-weight:600">{{userResult}}</span>.
      When W.B. asked for <span style="color:#8600b3;font-weight:600">{{previousGoalVolume}}.</span>
    </p>
</div>

<p class="result-container wrap scoreboard">Scoreboard</p>
<div class="result-container mat-elevation-z8 wrap">
  <mat-table #table class="table" [dataSource]="dataSource" matSort>

    <!-- Turn Column -->
    <ng-container cdkColumnDef="turn">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Turn </mat-header-cell>
      <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.turn}} </mat-cell>
    </ng-container>

    <!-- Result Column -->
    <ng-container cdkColumnDef="result">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Result </mat-header-cell>
      <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.result}} </mat-cell>
    </ng-container>

    <!-- Off By Column -->
    <ng-container cdkColumnDef="difference">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Off By </mat-header-cell>
      <mat-cell *cdkCellDef="let row" class="table-cell"> {{row.difference | winner}} </mat-cell>
    </ng-container>


    <mat-header-row *cdkHeaderRowDef="displayedColumns" class="header-table-row"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" 
      [ngClass]="row.difference==='0'?'table-row-green':'table-row'"></mat-row>
  </mat-table>
</div>